@import "src/styles.scss";

button {
    height: 56px;
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid $white-100;
    cursor: pointer;
    color: $white-100;
    background-color: transparent;
    transition: all 0.6s;
    margin-right: 16px;
    margin-top: 8px;
}

button:hover {
    color: $primary;
    background-color: $white-100;
}

@media (max-width: 560px) {
    button {
        margin: 8px 0;
    }
}