@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-1: 'Poppins', sans-serif;

.light {
    --primary: #673ab7;
    --secondary: #8752e4;
    --white-100: rgb(255, 255, 255);
    --grey-100: rgb(176, 176, 176);
    --black-200: rgb(33, 33, 33);
    --red-100: rgb(230, 80, 80);
    --background: rgb(245, 245, 245);
    --background-2: rgb(199, 199, 199);
    --color: rgb(62, 62, 62);
    --color-2: var(--color);
    --btn-with-border: var(--primary);
    --bk-btn-with-border: rgb(229, 229, 229);
    transition: all 0.6s;
}

.dark {
    --primary: #451c8c;
    --secondary: #592ea3;
    --white-100: rgb(255, 255, 255);
    --grey-100: rgb(176, 176, 176);
    --black-200: rgb(33, 33, 33);
    --red-100: rgb(223, 52, 52);
    --background: rgb(33, 33, 33);
    --background-2: rgb(62, 62, 62);
    --color: rgb(47, 47, 47);
    --color-2: var(--white-100);
    --btn-with-border: var(--white-100);
    --bk-btn-with-border: transparent;
    transition: all 0.6s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: $font-1;
}

.d-flex {
    display: flex;
}