<section class="body">
    <div class="container-select">
        <quote-select [items]="currenciesInit()"
                      [title]="currencieTitleInit()"
                      [value]="currencieInit()"
                      (valueChange)="changeToConvert($event, false)">
        </quote-select>

        <quote-input-number (valueChange)="changeValueCurrencie($event, false)">
        </quote-input-number>
    </div>

    <div class="symbol-reverse">
        <img src="{{iconConvertion()}}"
             alt="Icon of convertion">
    </div>

    <div class="container-select">
        <quote-select [items]="currenciesFinal()"
                      [title]="currencieTitleFinal()"
                      [value]="currencieFinal()"
                      (valueChange)="changeToConvert($event, true)">
        </quote-select>

        <quote-input-number (valueChange)="changeValueCurrencie($event, true)">
        </quote-input-number>
    </div>
</section>